@import '_var.scss';

body{

    background-color: $black;
    .container-fluid{

        //margin-top: 100px;
        .row-menu{

            .navbar{

                .collapse{

                    .navbar-nav{

                        .nav-item{

                            margin-left: 20px;
                        }
                    }
                }
            }
        }

        .row-container{

            .col-12{

                height: 700px;
                overflow: hidden;
                //background-size: c
            }
        }
    }

}